body {
    margin: 0;
    background-color: white;
    font-family: dosis, monospace;
    color: black;
    background-image: url(https://images.squarespace-cdn.com/content/v1/585d932046c3c49fd7943ce9/1571364184042-DBMWBIXMYJR1TXWSDH23/ke17ZwdGBToddI8pDm48kLF6Wyq3_oJoaEKqP1fFn-F7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0p4XabXLlNWpcJMv7FrN_NLPiJFU9KX89c9OAyd6rnmaHyI-qrncMpOm0KMv1gp_-g/web+bg1.jpg?format=2500w);
  }
  .topnav {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 40%;
  }
  .topnav h3 {
    margin: 20px;
    padding: 14px 16px;
    width: 160px;

  }
  
  .topnav a {
    display: flex;
    flex-direction: row;
    color: black;
    float: none;
    position: relative;
    padding: 14px 30px;
  }
    
  
  .topnav a:hover {
    color: grey;
  }
  
  .topnav a.active {
    color: black;
  }
  
  .grid { 
    font-family: dosis, monospace;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
  }
  .album img {
    width: 35%;
    height: 35%;
    padding: 20px;
  }
  .vr img {
    width: 40%;
    height: 40%;
    padding: 20px;
  }
  .ad-1 {
    color: antiquewhite;
    padding: 20px;
  }
  .ad-2 {
    color: antiquewhite;
    padding: 20px;
  }
  .copy {
    color: antiquewhite;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 100px;
    text-align: center;
    
  }